body {
  background: radial-gradient(
    circle at 25% 50%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
