body {
  background-image: radial-gradient(circle at 10% 20%,
      rgb(254, 255, 165) 0%,
      rgb(255, 232, 182) 90%);
}

h1,
h2,
p,
header,
footer {
  text-align: center;
}

footer {
  margin-inline-start: auto;
}